<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4258858751-8q5agui0qthkj8siajo4adkfqks2vjf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4258858751-8q5agui0qthkj8siajo4adkfqks2vjf6</string>
	<key>API_KEY</key>
	<string>AIzaSyCNGK6HF0T55Yl04NMGZftFcdLxBDsgK6s</string>
	<key>GCM_SENDER_ID</key>
	<string>4258858751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatihcanbekli.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-4776f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-4776f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4258858751:ios:cdf2387717ad63eb</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-4776f.firebaseio.com</string>
</dict>
</plist>